.contest-form {
  margin: 0;
  padding: 0;
}

.contest-form__description {
  margin: 50px 20px;
  line-height: 30px;
}

.contest-form__fieldset {
  font-size: 18px;
  line-height: 30px;
  background-color: @white;
  border: none;

  &--achievements,
  &--app {
    background-color: @grey;
  }
}

.contest-form__title {
  font-size: 14px;
  color: @pink;
  line-height: 18px;
  text-transform: uppercase;
}

.contest-form__label {
  &--pink {
    font-size: 14px;
    color: @pink;
    text-transform: uppercase;
  }
}

.contest-form__text-input {
  font-size: 18px;

  &::-moz-placeholder {
    color: @blue;
  }

  &::-webkit-input-placeholder {
    color: @blue;
  }
}

.contest-form__textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;

  &::-moz-placeholder {
    color: @blue;
  }

  &::-webkit-input-placeholder {
    color: @blue;
  }
}

.contest-form__button {
  margin: 50px 20px 40px;
  font-size: 18px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  background-color: @green;
  border: none;
}

.contest-form__text {
  margin: 0 20px;
}
