.contacts {
  width: @mobile-width;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 100;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: @desktop-width;
  }
}

.contacts-info {
  padding: 45px 20px 40px;
  text-align: center;
}

@media (min-width: @desktop-width) {
  .contacts-info {
    padding: 45px 130px 40px;
  }
}

.contacts-info__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .contacts-info__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts-info__item {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts-info__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .contacts-info__item {
    width: 33%;

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }
}

.contacts-info__title {
  font-size: 18px;
  font-weight: bold;
}

.contacts-info__text {
  font-size: 24px;
  font-weight: 100;
  color: @pink;

  &--common {
    color: @blue;
  }
}
