.inner-page-title {
  height: 238px;
  margin: 0;
  padding: 0;
  background: @blue url("../img/bg-back-mobile@1x.jpg") center no-repeat;
}

.inner-page-title__text {
  margin: 0;
  padding: 100px 20px 0 20px;
  font-size: 24px;
  font-weight: 100;
  color: @white;
  line-height: 1.2;
  text-align: center;
}
