.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: @desktop-width) {
  .main-nav {
    flex-direction: row;
  }
}

.main-nav__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: @main-nav-padding-top 0 @main-nav-padding-bottom;
}

@media (min-width: @tablet-width) {
  .main-nav__header {
    padding: 25px 0 30px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 640px;
  }
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
