.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .main-nav {
    flex-direction: row;
  }
}

.main-nav__header {
  display: flex;
  justify-content: space-between;
  width: @mobile-width - 20px*2;
  padding: @mainnav-padding-top-mobile 20px @mainnav-padding-bottom-mobile;
  border-bottom: 1px solid @black;
  
  &--minimized {
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__header {
    width: @tablet-width - 20px*2;
    padding: 25px 20px 30px;   
  }
}

@media (min-width: @desktop-width) {
  .main-nav__header {
    border: none;
  }
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  font-size: 0;
  border: none;
  /*border: 1px solid black;*/
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-menu-cross.svg");
  }
}

.main-nav__toggle--minimized {
  position: relative;
  width: 51px;
  height: 24px;
  padding: 0;
  margin: 0;
  font-size: 0;
  border: none;
  /*border: 1px solid black;*/
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 24px;
    background-image: url("../img/icon-menu-burger.svg");
  }  
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  &--minimized {
    display: none;
  }

  &--nojs {

  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 640px;

    &--minimized {
      display: flex;
    }
  }
}
