.page-header {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @header-bg-color;
}

.page-header__logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: @white;
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 120px;
  }
}

.page-header__logo-image {
  margin: 0;
  padding: 0;
}

/* .page-header > * {
  outline: 1px dashed red;
}
.page-header > * > * {
  outline: 1px dashed orange;
}
.page-header > * > * > * {
  outline: 1px dashed yellow;
}
.page-header > * > * > * > * {
  outline: 1px dashed green;
} */


.main-nav__list--hide {
  display: none;
}

.main-nav__list--show {
  display: block;
}
