.price-slider { /*TODO: в файл price-slider.less*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .price-slider {
    position: relative;
    flex-direction: row;
  }
}

.price-item {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .price-item {
    position: relative;
    width: 50%;
    margin-right: -25%;

    &:nth-child(1) {
      z-index: 2;
    }

    &:nth-child(2) {
      z-index: 1;
    }

    &:nth-child(3) {
      z-index: 0;
      margin-right: 0;
    }
  }
}

.price-item__title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: @white;
  text-transform: uppercase;
  background-color: @blue;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .price-item__title {
    width: 50%;
    margin-left: 50%;
  }
}

.price-item__price {
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}

.price-item__table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.price-item__feature {
  display: table-row;
  background-color: @white;
}

.price-item__text {
  display: table-cell;
  width: 70%;
}

@media (min-width: @tablet-width) {
  .price-item__text {
    width: 50%;
  }
}

.price-item__check-icon {
  display: table-cell;
  width: 30%;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .price-item__check-icon {
    width: 50%;
  }
}
